*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%)     
}
body{
    width: 100%;
    height: 100vh;
    background-color: var(--Cream);
    display: flex;
    align-items: center;
    justify-content: center;

}
.card-box{
    width: 600px;
    height: 600px;
    display: flex;
    background-color: var(--White);
    border-radius: 10px;
    gap: 20px;
}
.card-img{
    width: 50%;
    height: 100%; 
}
.card-img img{
    width: 100%;
    max-width: 100%;
    border-radius: 10px  0px 10px 0px;
}